In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
import pickle as pk

In [2]:
movies = pd.read_csv("C:/Users/HP/Documents/5 Semester/MLDL/datasets/movielens/movies_metadata.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_1932\109856391.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("C:/Users/HP/Documents/5 Semester/MLDL/datasets/movielens/movies_metadata.csv")

In [3]:
ratings = pd.read_csv("C:/Users/HP/Documents/5 Semester/MLDL/datasets/movielens/ratings_small.csv")

In [4]:
ratings[ratings['movieId']==1]

       userId  movieId  rating   timestamp
495         7        1     3.0   851866703
699         9        1     4.0   938629179
889        13        1     5.0  1331380058
962        15        1     2.0   997938310
3105       19        1     3.0   855190091
...       ...      ...     ...         ...
98531     660        1     2.5  1436680062
98714     663        1     4.0  1438397999
98740     664        1     3.5  1362421730
99858     670        1     4.0   938782344
99889     671        1     5.0  1064891129

[247 rows x 4 columns]

In [5]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [6]:
movies[movies['id'].isin(ratings['movieId'].unique())]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [7]:
len(ratings['movieId'].unique())

9066

In [8]:
ratings.shape

(100004, 4)

In [9]:
pivot_table = ratings.pivot_table(index='userId',columns='movieId',values='rating',fill_value=0)

In [10]:
pivot_table

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,4.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
670,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0
671,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,...,0.0,0.0,0,0,0.0,0,0.0,0,0,0

In [67]:
collabrative_similarity_score = cosine_similarity(pivot_table)

In [74]:
sorted(list(enumerate(collabrative_similarity_score[62])),key=lambda x:x[1] , reverse=True)[:6]

[(62, 1.0),
 (561, 0.34767174455000727),
 (267, 0.3362353157680435),
 (344, 0.3311548308946743),
 (606, 0.3154319918164485),
 (270, 0.31449385999011964)]

In [48]:
# movies[movies['id']=='378'][['genres','id','title','vote_average']]
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [14]:
# pivot_table

In [69]:
def recommend_movie(user_id):
    recomm_movies = sorted(list(enumerate(collabrative_similarity_score[user_id])),key=lambda x:x[1] , reverse=True)[:6]
    movie_ids = [str(i[0]) for i in recomm_movies]
    
    recommended_movies = []
    
    for i in range(len(movie_ids)):
        movie_detail = []
        movie_detail.extend(list(movies[movies['id']==movie_ids[i]][['id','title','vote_average','poster_path']].values))
        
        recommended_movies.append(movie_detail)
    
    return recommended_movies

In [70]:
recommend_movie(378)

[[array(['378', 'Raising Arizona', 7.2, '/jsBg2bhvbSncyezo9sMntMzBuy6.jpg'],
        dtype=object)],
 [array(['123', 'The Lord of the Rings', 6.1,
         '/1l3WpoF7TX9pOprX4XepCXjQXUV.jpg'], dtype=object)],
 [],
 [array(['583', 'Life of Brian', 7.7, '/cKpJnXJ6DzAGafAjUWB5PjT904O.jpg'],
        dtype=object)],
 [array(['93', 'Anatomy of a Murder', 7.7,
         '/kDFnM2zlHZirR2ItTo56lyrxuAS.jpg'], dtype=object)],
 []]

#### Dump pickle file

In [73]:
# pk.dump(movies, open('coll_movies.pkl','wb'))
# pk.dump(collabrative_similarity_score, open('collabrative_similarity_score.pkl','wb'))

In [9]:
with open('C:/Users/HP/PythonScriptsML/trending_movies_20.pkl', 'rb') as file:
    m = pk.load(file)
print(m)
for i in m['id'].items():
    print(i[1])

{'id': {1881: 278, 3337: 238, 3232: 680, 2731: 240, 2294: 129, 1818: 424, 3865: 244786, 662: 550, 690: 497, 3719: 510, 1663: 311, 809: 13, 2247: 128, 3057: 73, 2170: 539, 1847: 769, 65: 155, 4602: 389, 1990: 1891, 1987: 4935}, 'title': {1881: 'The Shawshank Redemption', 3337: 'The Godfather', 3232: 'Pulp Fiction', 2731: 'The Godfather: Part II', 2294: 'Spirited Away', 1818: "Schindler's List", 3865: 'Whiplash', 662: 'Fight Club', 690: 'The Green Mile', 3719: "One Flew Over the Cuckoo's Nest", 1663: 'Once Upon a Time in America', 809: 'Forrest Gump', 2247: 'Princess Mononoke', 3057: 'American History X', 2170: 'Psycho', 1847: 'GoodFellas', 65: 'The Dark Knight', 4602: '12 Angry Men', 1990: 'The Empire Strikes Back', 1987: "Howl's Moving Castle"}, 'vote_average': {1881: 8.5, 3337: 8.4, 3232: 8.3, 2731: 8.3, 2294: 8.3, 1818: 8.3, 3865: 8.3, 662: 8.3, 690: 8.2, 3719: 8.2, 1663: 8.2, 809: 8.2, 2247: 8.2, 3057: 8.2, 2170: 8.2, 1847: 8.2, 65: 8.2, 4602: 8.2, 1990: 8.2, 1987: 8.2}}
278
238
680
240
129
424
244786
550
497
510
311
13
128
73
539
769
155
389
1891
4935

### Little wrong process followed

In [ ]:
# movies.head()

In [ ]:
# movies.rename(columns={'id': 'movieId'}, inplace=True)

In [ ]:
# movies = movies.drop(movies[movies['movieId']=='2012-09-29'].index)

In [ ]:
# movies['movieId'] = movies['movieId'].astype('int64')

In [ ]:
# movies.shape

In [ ]:
# len(ratings['movieId'].unique())

In [ ]:
# movies.columns

In [ ]:
# new_movies = movies[movies['vote_count']>100][['movieId','title','imdb_id','poster_path','vote_average']]

In [ ]:
# movie_ids = [int(x) for x in new_movies['movieId'].values]

In [ ]:
# new_ratings = ratings[ratings['movieId'].isin(movie_ids)]

In [ ]:
# new_ratings

In [ ]:
# user who have rated more than 50 movies will be considered

In [ ]:
# user_rating_count = new_ratings.groupby('userId').size()

In [ ]:
# filtered_df = new_ratings[new_ratings['userId'].isin(user_rating_count[user_rating_count > 50].index)]

In [ ]:
# filtered_df.groupby('userId').size()

In [ ]:
# filtered_df

In [ ]:
# new_ratings.groupby('movieId').size()

In [ ]:
# new_ratings.info()

In [ ]:
# movies.info()

In [ ]:
# filtered_df['movieId'] = filtered_df['movieId'].drop_duplicates()

In [ ]:
# filtered_df.dropna(inplace=True)

In [ ]:
# filtered_df['rating'] = filtered_df['rating'].astype('float')

In [ ]:
# movies.isnull().sum()

In [ ]:
# filtered_df.merge(movies, on='movieId')
# pd.concat([filtered_df, movies])[['userId','movieId','rating','original_title']]

In [ ]:
# filtered_df.isnull().sum()

In [ ]:
# pt = filtered_df.pivot_table(index='movieId',columns='userId',values='rating',fill_value=0)

In [ ]:
# pt

In [ ]:
# pt.columns

In [ ]:
# similarity_score = cosine_similarity(pt)

In [ ]:
# similarity_score[8]

In [ ]:
# filtered_df[filtered_df['movieId']==15].index[0]